/* Set default theme to light mode */
body[data-color-mode="auto"] {
  --jp-ui-font-color1: #333 !important;
  --jp-layout-color0: #EFEFEF !important;
  --jp-border-color0: #D5D5D5 !important;
  --jp-border-color1: #CFCFCF !important;
  --jp-input-border-color: #C4C4C4 !important;
  --jp-layout-color1: #F9F9F9 !important;
  --jp-layout-color2: #E5E5E5 !important;
  --jp-layout-color3: #D1D1D1 !important;
  --jp-layout-color4: #C2C2C2 !important;
  --jp-layout-color5: #B3B3B3 !important;
  --jp-layout-color6: #A4A4A4 !important;
  --jp-warning-color1: #FEB236 !important;
  --jp-success-color1: #009F7D !important;
}